@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: Dovemayo_gothic;
}
.game-treasure-choose-layout {
    display: flex;
    .game-layout {
        border: 5px inset #252525;
        width: 50%;
        height: 55vh;
        box-sizing: border-box;
        background: url("static/images/game/main_backgroud.jpeg");
        .game-content-box {
            padding: 20px;
            color: #FFFFFF;
            .game-text-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .title {
                    font-size: 2em;
                }
                .text {
                    font-size: 1.5em;
                }
            }
            .img-box {
                display: flex;
                justify-content: center;
                align-items: center;
                .pickax {
                    width: 120px;
                    img {
                        width: 100%;
                    }
                }
                .stone {
                    width: 300px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    .treasure-choose-layout {
        border: 5px inset #252525;
        border-left: none;
        width: 50%;
        height: 55vh;
        box-sizing: border-box;
        background: url("static/images/box/wood_background.jpeg");
        .box-box {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 25px;
            .general-box {
                margin-right: 50px;
                width: 200px;
                text-align: center;
                img {
                    width: 100%;
                }
            }
            .high-quality-box {
                margin-left: 50px;
                width: 200px;
                text-align: center;
                img {
                    width: 100%;
                }
            }
        }
        .choose-content-box {
            padding: 20px;
            .choose-text-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #FFFFFF;
                .title {
                    font-size: 2em;
                }
                .text {
                    font-size: 1.5em;
                }
            }
        }
    }
}
.treasure-collection-layout {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    box-sizing: border-box;
    border: 5px inset #252525;
    border-top: none;
    width: 100vw;
    height: 45vh;
    .collection-text-box {
        font-size: 2em;
        padding: 20px;
        color: #FFFFFF;
    }
    .img-box {
        display: inline-block;
        width: 120px;
        height: 36px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.treasure-choose-result {
    .img-box {
        margin-bottom: 20px;
        width: 100px;
        height: 100px;
        text-align: center;
        display: inline-block;
        background-color: #FFFFFF;
        border: 3px solid #252525;
        border-radius: 10px;
        img {
            width: 100%;
        }
    }
}
