<template>
    <div>
        <div class="game-treasure-choose-layout">
            <div class="game-layout">
                <div class="game-content-box">
                    <div class="game-text-box" v-if="haveGold != null">
                        <div class="title"> {{ section1.game.title }}</div>
                        <div class="text"> {{ section1.game.text }} {{ haveGold | currency }}<span style="color: #f6cf06">G</span></div>
                    </div>
                    <div class="img-box cursor-hand" @click="putAddGold()">
                        <div id="pickax" class="pickax animate__animated">
                            <img :src="section1.game.pickax.imgUrl" :alt="section1.game.pickax.imgAlt"/>
                        </div>
                        <div id="stone" class="stone animate__animated">
                            <img :src="section1.game.stone.imgUrl" :alt="section1.game.stone.imgAlt"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="treasure-choose-layout">
                <div class="choose-content-box">
                    <div class="choose-text-box">
                        <div class="title"> {{ section2.treasure.title }}</div>
                        <div>
                            <el-button type="danger" @click.native="gameReset()" round>게임리셋</el-button>
                        </div>
                    </div>
                    <div class="box-box">
                        <div class="general-box cursor-hand" @click="generalBox()">
                            <div class="animate__animated animate__rubberBand animate__infinite animate__slow">
                                <img :src="section2.treasure.generalBox.imgUrl"
                                     :alt="section2.treasure.generalBox.imgAlt"/>
                            </div>
                            <el-button type="dark" round > {{ section2.treasure.generalBox.text }}</el-button>
                        </div>
                        <div class="high-quality-box cursor-hand" @click="highQualityBox()">
                            <div class="animate__animated animate__rubberBand animate__infinite animate__slow">
                                <img :src="section2.treasure.highQualityBox.imgUrl"
                                     :alt="section2.treasure.highQualityBox.imgAlt"/>
                            </div>
                            <el-button type="dark" round> {{ section2.treasure.highQualityBox.text }}</el-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="treasure-collection-layout">
            <div class="treasure-collection-box">
                <div class="collection-text-box">
                    <div class="title"> {{ section3.collection.title }}</div>
                </div>
                <el-row>
                    <el-col :span="4" v-for="(item, index) in useTreasureItem" :key="'collection' + index">
                        <div class="txt-center" v-if="item.treasureCount > 0">
                            <div class="img-box">
                                <img :src="`images/treasure/${item.treasureImage}`"
                                     v-bind:key="index"/>
                            </div>
                            <div>
                                <el-badge :value="item.treasureGradeName" class="item" :type="badgeColor(item.treasureGrade)">
                                    {{ item.treasureName }}&nbsp;&nbsp;&nbsp;
                                </el-badge>
                            </div>
                            <div> {{ item.treasureCount }}EA</div>
                        </div>
                        <div v-else class="txt-center">
                            <div class="img-box">
                                <img style="width: 30%" :src="`images/treasure/no_image.png`" v-bind:key="index"/>
                            </div>
                            <div>
                                <el-badge :value="item.treasureGradeName" class="item" :type="badgeColor(item.treasureGrade)">
                                    정보 없음 &nbsp;&nbsp;
                                </el-badge>
                            </div>
                            <div> {{ item.treasureCount }}EA</div>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </div>
        <el-dialog title="보물 뽑기 결과" :visible.sync="generalDialogVisible" width="40%" center>
            <div v-if="currentChooseTreasure != null" class="txt-center">
                <div class="treasure-choose-result">
                    <div class="img-box">
                        <img :src="'/images/treasure/' + currentChooseTreasure.treasureImage" :alt="currentChooseTreasure.treasureName" width="100" height="100"/>
                    </div>
                    <div style="display: flex; justify-content: center; align-items: center; font-size: 20px; color: #252525">
                        <div v-if="currentChooseTreasure.isNew" style="color: #ac0c0c; font-weight: 800; font-size: 15px;" class="mr-1">NEW</div>
                        <el-badge :value="currentChooseTreasure.treasureGradeName" class="item" :type="badgeColor(currentChooseTreasure.treasureGrade)">
                            {{ currentChooseTreasure.treasureName }}&nbsp;&nbsp;&nbsp;
                        </el-badge>
                    </div>
                </div>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button type="dark" @click="generalDialogVisible = false">확인</el-button>
                <el-button type="warning" @click="generalBox()">다시 뽑기</el-button>
            </span>
        </el-dialog>
        <el-dialog title="보물 뽑기 결과" :visible.sync="highQualityDialogVisible" width="40%" center>
            <div v-if="currentChooseTreasure != null" class="txt-center">
                <div class="treasure-choose-result">
                    <div class="img-box">
                        <img :src="'/images/treasure/' + currentChooseTreasure.treasureImage" :alt="currentChooseTreasure.treasureName" width="100" height="100"/>
                    </div>
                    <div style="display: flex; justify-content: center; align-items: center; font-size: 20px; color: #252525">
                        <div v-if="currentChooseTreasure.isNew" style="color: #ac0c0c; font-weight: 800; font-size: 15px;" class="mr-1">NEW</div>
                        <el-badge :value="currentChooseTreasure.treasureGradeName" class="item" :type="badgeColor(currentChooseTreasure.treasureGrade)">
                            {{ currentChooseTreasure.treasureName }}&nbsp;&nbsp;&nbsp;
                        </el-badge>
                    </div>
                </div>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button type="dark" @click="highQualityDialogVisible = false">확인</el-button>
                <el-button type="warning" @click="highQualityBox()">다시 뽑기</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<script>
export default {
    data() {
        return {
            haveGold: null,
            useTreasureItem: [],
            generalDialogVisible: false,
            highQualityDialogVisible: false,
            currentChooseTreasure: [],
            section1: {
                game: {
                    title: '광산 캐기',
                    text: '보유 골드 :',
                    pickax: {
                        imgUrl: 'images/game/pickax.png',
                        imgAlt: '곡괭이'
                    },
                    stone: {
                        imgUrl: 'images/game/stone.png',
                        imgAlt: '돌'
                    }
                }
            },
            section2: {
                treasure: {
                    title: '보물 뽑기',
                    text: '보유 골드 : ',
                    generalBox: {
                        imgUrl: 'images/box/box1.png',
                        imgAlt: '일반상자',
                        text: '일반뽑기(3000골드)'
                    },
                    highQualityBox: {
                        imgUrl: 'images/box/box2.png',
                        imgAlt: '고급상자',
                        text: '고급뽑기(8000골드)'
                    }
                }
            },
            section3: {
                collection: {
                    title: '컬렉션',
                    treasure: [
                        {
                            imgUrl: 'images/treasure/big_toy.png',
                            grade: '레어',
                            name: '실험',
                            count: '수량 :'
                        },
                        {
                            imgUrl: 'images/treasure/big_toy.png',
                            grade: '레어',
                            name: '실험',
                            count: '수량 :'
                        },
                        {
                            imgUrl: 'images/treasure/big_toy.png',
                            grade: '레어',
                            name: '실험',
                            count: '수량 :'
                        },
                        {
                            imgUrl: 'images/treasure/big_toy.png',
                            grade: '레어',
                            name: '실험',
                            count: '수량 :'
                        },
                        {
                            imgUrl: 'images/treasure/big_toy.png',
                            grade: '레어',
                            name: '실험',
                            count: '수량 :'
                        },
                        {
                            imgUrl: 'images/treasure/big_toy.png',
                            grade: '레어',
                            name: '실험',
                            count: '수량 :'
                        },
                        {
                            imgUrl: 'images/treasure/big_toy.png',
                            grade: '레어',
                            name: '실험',
                            count: '수량 :'
                        },
                        {
                            imgUrl: 'images/treasure/big_toy.png',
                            grade: '레어',
                            name: '실험',
                            count: '수량 :'
                        },
                        {
                            imgUrl: 'images/treasure/big_toy.png',
                            grade: '레어',
                            name: '실험',
                            count: '수량 :'
                        },
                        {
                            imgUrl: 'images/treasure/big_toy.png',
                            grade: '레어',
                            name: '실험',
                            count: '수량 :'
                        },
                        {
                            imgUrl: 'images/treasure/big_toy.png',
                            grade: '레어',
                            name: '실험',
                            count: '수량 :'
                        },
                        {
                            imgUrl: 'images/treasure/big_toy.png',
                            grade: '레어',
                            name: '실험',
                            count: '수량 :'
                        },
                        {
                            imgUrl: 'images/treasure/big_toy.png',
                            grade: '레어',
                            name: '실험',
                            count: '수량 :'
                        },
                        {
                            imgUrl: 'images/treasure/big_toy.png',
                            grade: '레어',
                            name: '실험',
                            count: '수량 :'
                        },
                        {
                            imgUrl: 'images/treasure/big_toy.png',
                            grade: '레어',
                            name: '실험',
                            count: '수량 :'
                        },
                        {
                            imgUrl: 'images/treasure/big_toy.png',
                            grade: '레어',
                            name: '실험',
                            count: '수량 :'
                        },
                        {
                            imgUrl: 'images/treasure/big_toy.png',
                            grade: '레어',
                            name: '실험',
                            count: '수량 :'
                        },
                        {
                            imgUrl: 'images/treasure/big_toy.png',
                            grade: '레어',
                            name: '실험',
                            count: '수량 :'
                        }
                    ]
                }
            }
        }
    },
    methods: {
        //맨처음 정보를 불러옴
        getFirstList() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$gameConstants.DO_FIRST_LIST)
                .then((res) => {
                    this.haveGold = res.data.data.addGoldResponse.haveGold;
                    this.useTreasureItem = res.data.data.useTreasureItem;
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        putAddGold() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$gameConstants.DO_ADD_GOLD)
                .then((res) => {
                    this.haveGold = res.data.data.haveGold;
                    this.clickAddClass();
                    //this.clickRemoveClass();
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        //일반 뽑기
        generalBox() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$gameConstants.DO_GENERAL_CHOOSE)
                .then((res) => {
                    this.generalDialogVisible = true;
                    this.haveGold = res.data.data.addGoldResponse.haveGold;
                    this.currentChooseTreasure = res.data.data.chooseTreasureCurrentItem;
                    this.useTreasureItem = res.data.data.useTreasureItem;
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        highQualityBox() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$gameConstants.DO_HIGH_QUALITY_CHOOSE)
                .then((res) => {
                    this.highQualityDialogVisible = true;
                    this.haveGold = res.data.data.addGoldResponse.haveGold;
                    this.currentChooseTreasure = res.data.data.chooseTreasureCurrentItem;
                    this.useTreasureItem = res.data.data.useTreasureItem;
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        gameReset() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            if (!confirm("정말로 게임리셋을 하시겠습니까?")) {
                alert("취소 되었습니다.");
            } else {
                this.$store.dispatch(this.$gameConstants.DO_GAME_RESET)
                    .then((res) => {
                        this.getFirstList()
                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },
        badgeColor(treasureGrade) {
            if (treasureGrade === 'RARE') {
                return 'info'
            } else if (treasureGrade === 'UNIQUE') {
                return 'warning'
            } else if (treasureGrade === 'EPIC') {
                return 'primary'
            } else {
                return 'danger'
            }
        },
        clickAddClass() {
            document.getElementById('pickax').classList.add('animate__rubberBand');
            document.getElementById('stone').classList.add('animate__shakeX');
            setTimeout(this.clickRemoveClass, 1500)
        },
        clickRemoveClass() {
           document.getElementById('pickax').classList.remove('animate__rubberBand');
            document.getElementById('stone').classList.remove('animate__shakeX');
        }
    },
    created() {
        this.getFirstList();
    },
    mounted() {
    },
}
</script>
